<a href="https://colab.research.google.com/github/hsym-uec/myWeb_github/blob/main/Simmple_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/hsym-uec/myWeb_github/blob/stock_test1/Simmple_Stock_copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# SoftBank Stock data from Stooq.com 
# reference https://seanmemo.com/234/

from pandas_datareader import data
start = '2023-04-01'
end = '2023-04-18'
df = data.DataReader('9984.JP', 'stooq', start, end)

In [2]:
df

            Open  High   Low  Close    Volume
Date
2023-04-18  5150  5214  5148   5186   6534000
2023-04-17  5120  5178  5120   5173   6198700
2023-04-14  5228  5229  5091   5120  11312800
2023-04-13  5145  5273  5121   5128  10389800
2023-04-12  5223  5311  5171   5178   9752200
2023-04-11  5139  5155  5102   5102   6772200
2023-04-10  5189  5190  5084   5100   7831400
2023-04-07  5230  5257  5146   5169   7031900
2023-04-06  5189  5245  5147   5228   9276900
2023-04-05  5261  5315  5193   5213  10338500
2023-04-04  5210  5254  5168   5244   8109900
2023-04-03  5260  5278  5194   5218   9469300

In [1]:
from pandas_datareader import data
import datetime
from datetime import timedelta
import jpholiday
import operator
import pandas as pd

#ref. : https://qiita.com/hid_tanabe/items/3c5e6e85c6c65f7b38be
def isBizDay(DATE):
    Date = datetime.date(int(DATE.year), int(DATE.month), int(DATE.day))
    if Date.weekday() >= 5 or jpholiday.is_holiday(Date):
        return 0
    else:
        return 1

def n_bizdays_ago(n): #n営業日前を出す
    today = datetime.datetime.now()
    i = n
    while True:
        if isBizDay(today - timedelta(i)): #n日前が平日になるまで遡る
            n_bizdays = today - timedelta(i)
            break
        else:
            i+=1
    return n_bizdays



# print(today.strftime('%Y年%m月%D日 %H:%M:%S'))

twodays_ago = n_bizdays_ago(2)
#print(twodays_ago)
yesterday = n_bizdays_ago(1)
df2 = data.DataReader('9984.JP', 'stooq', twodays_ago, yesterday)
df2
print(df2['Close'][0]-df2['Close'][1])#１営業日前と２営業日前の差

df3 = data.DataReader('8901.JP', 'stooq', twodays_ago, yesterday)
df3

def all_comStock_name():#証券コードとその株の前々日前日差の一覧を生成
    meigara_ranklist = []#証券コードと前々日と前日の差のリスト
    onedayAgo = n_bizdays_ago(1)#きのう（ただし＝１営業日前）
    twodaysAgo = n_bizdays_ago(2)#おととい（ただし＝2営業日前）
    for i in range(1000, 10000):
        meigara = i
        df = data.DataReader(meigara + '.JP', 'stooq', twodaysAgo, onedayAgo)
        if len(df) > 0:
            diff = df['Close'][0]-df['Close'][1]
            meigara_ranklist.append([meigara, diff])

def stock_diffRank_sorted(stock_difflist):
    return sorted(stock_difflist, key=operator.itemgetter(1))#「[証券コード0, 差0], [証券コード1, 差1], ...」となっているうち各リスト内リストの1番目＝差を元にソート


stock = all_comStock_name()
stock = stock_diffRank_sorted(stock)
stock_df = pd.DataFrame(stock, columns=['証券コード', '前営業日と前々営業日の終値差'])
print(stock_df[0:19])

1

Empty DataFrame
Columns: []
Index: []

In [6]:
a = []
a.append(1)
a.append([1,2,3])
print(a)
print(a[1][2])

[1, [1, 2, 3]]
3